#total-emissions-over-time {
    svg {
        @extend %force-center;     
    }
    .line {
        /*make stroke thicker than default*/
        stroke-width: 2.5px;
    }
}

#composite-chart {
    svg {
        @extend %force-center
    }
}

#total-emissions-per-source-pie {
    svg {
        @extend %force-center;
        .pie-slice-group {
            /*add a stroke to the pie slices*/
            stroke: black;
            stroke-width: 1px;
        }
    }
}

#total-emissions-per-source {
    svg {
        @extend %force-center;
    }
    
    .axis.x {
        .tick:nth-child(even) {
            text {
                color: red;
                transform: translate(-10px,20px);
            }
        }
    }
}

.dc-select-menu {
    @extend %force-center;
}