/* Chart Styling
-------------------- */

.selector-container {
    @extend %force-center;
    border: 1px solid $pureBlack;
    max-width: 500px;
    div {
        width: 100%; //Ensure %force-center has the desired effect for the select boxes
    }
    p {
        text-align: center;
        margin-bottom: -5px; //Bring the instruction text close to the select boxes
    }
    p:nth-child(2) {
        font: {
            size: 0.8rem;
            style: italic;
        }
    }
}
#total-emissions-over-time {
    .line {
        //Make stroke thicker than default
        stroke-width: 2.5px;
    }
}

#total-emissions-per-source-pie {
    width: 100%;
    svg {
        .pie-slice-group {
            //Add a stroke to the pie slices
            stroke: $pureBlack;
            stroke-width: 1px;
        }
    }
}

.x-axis-label, .y-axis-label {
    font-family: 'Inconsolata', monospace;
}

select {
    @extend %force-center;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
}