/* Footer
-------------------- */

footer {
    min-width: $minWidth; //Prevent the footer being squashed down on smaller viewports
    width: 100%;
    max-width: $maxWidth; //Needs to match body to ensure alignment, especially on larger viewports
    position: absolute;
    margin-top: 50px;
    a {
        margin: 0 20px;
    }
    p {
        font-size: 0.75rem;
        margin-top: -10px;
    }
}