footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Spirax', cursive;
    /*stops footer wandering off to the right on very large screens*/
    max-width: 1904px;
    border-top: 2px solid black;
}
footer li {
    margin: 10px 1% 0 1%;
    font-size: 0.95em;
}