/* Header Styling
-------------------- */
h1 {
    font-size: 1.5rem;
    color: $pureWhite;
    @extend %force-center;
    @include mqWidth($headerBreakpoint) {
        font-size: 2rem;
    }
    span {
        display: block;
        margin-top: 10px;
        font-size: 1.3rem;
        @include mqWidth($headerBreakpoint) {
            font-size: 1.5rem;
        }
    }
}

.navbar {
    background: {
        color: $backgroundGreen; //Backup background color in case failure to load image
        image: $bgImage;
        size: 100% 100%;
    }
    border-bottom: 2px solid $pureBlack;
    // flex-direction: column; //Bootstrap navbars are display: flex by default, so this declaration ensures the titles are stacked properly
    padding: 0; //Remove default Bootstrap padding, navbar is large enough at 0
    text-shadow: #000 0 3px 0;
    h2 {
       font: {
           family: 'Roboto', sans-serif;
           size: 1.2rem;
       }
       color: $pureWhite;
        @include mqWidth($headerBreakpoint) {
            font-size: 2rem;
        }
    }
}

.alert {
    display: none;
    @include mqHover(none) {
        display: block;
    }
}

/* Chart Icons */
.fa-div, .fa-div-navbar {
    font-size: 40px;
    margin: 15px auto 0;
    i {
        margin: 0 20px;
    }
}

.fa-div-navbar {
    color: $pureWhite;
    @include mqWidth($headerBreakpoint) {
        font-size: 50px;
    }
}