/* Image Styling
-------------------- */

img {
    @extend %force-center;
    width: 620px;
    
    //Different image widths based on viewport size
    @include mqWidth(768px) {
        width: 430px;
    }
    @include mqWidth(1114px) {
        width: 660px;
    }
    @include mqWidth(1266px) {
        width: initial;
    }
}