h1 {
    font-size: 1.5rem;
    color: white;
    @extend %force-center;
    @include mq(1110px) {
        font-size: 2.5rem;
    }
}

.navbar {
    // background-color: $green;
    background-image: url("../images/color5.png");
    border-bottom: 2px solid black;
    flex-direction: column; /*Bootstrap navbars are display: flex by default, so this declaration ensures the subtitles are stack properly*/
    h2 {
       font: {
           family: 'Roboto', sans-serif;
           size: 1.2rem;
       }
       color: white;
        @include mq(1110px) {
            font-size: 2rem;
        }
    }
}