/* Navbar Styling
-------------------- */

h1 {
    font-size: 1.5rem;
    color: $pureWhite;
    @extend %force-center;
    @include mqWidth(1110px) {
        font-size: 2.5rem;
    }
}

.navbar {
    background: {
        color: $backgroundGreen; //Backup background color in case failure to load image
        image: url("../images/color5.png");
    }
    border-bottom: 2px solid $pureBlack;
    flex-direction: column; //Bootstrap navbars are display: flex by default, so this declaration ensures the titles are stacked properly
    h2 {
       font: {
           family: 'Roboto', sans-serif;
           size: 1.2rem;
       }
       color: $pureWhite;
        @include mqWidth(1110px) {
            font-size: 2rem;
        }
    }
}

.alert {
    display: none;
    @include mqHover(none) {
        display: block;
    }
}

/* Chart Icons */
.fa-div {
    font-size: 50px;
    margin: 0 auto;
    i {
        margin: 0 20px;
    }
}