h1 {
    font-size: 1.5rem;
    color: white;
    @extend %force-center;
    @include mq(1110px) {
        font-size: 2.5rem;
    }
}

.navbar {
    background-color: $green;
    border-bottom: 2px solid black;
}