/* No JS Fallback
-------------------- */

#no-js-display {
    display: none; //By default with Javascript enabled, the no-js-display is removed
}

//If the body still has the no-js class which is normally removed (via Javascript), then show the no-js-display
.no-js {
    #no-js-display {
    width: 100%;
    height: 100%;
    background: $loaderGreen;
    color: $pureWhite;
    position: fixed;
    display: block;
        div {
            position: relative;
            top: 50%;
            text-align: center;
            p {
                font-size: 2rem;
                span {
                    font-size: 3rem;
                }
            }
            i {
                font-size: 3rem;
            }
        }
    }
    #loader-wrapper, header, .alert, main, footer {
    display: none; //Remove all other elements except the no-js-display
    }
}