/* Piechart Informative Popup
-------------------- */
.popup { //The popup container
    @extend %force-center;
    cursor: pointer;
    .popuptext { //The actual popup
        font-size: 0.8rem;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 14px 0 8px;
        position: absolute;
        z-index: 1;
        bottom: 89%;
        left: 50%;
        margin-left: -80px;
    }
    .popuptext::after { //Popup arrow
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .hide { //Toggle this class when clicking on the popup container (hide the popup)
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.3s linear;
    }
}
.fa-window-close { //Close icon
    position: absolute;
    left: 141px;
    bottom: 43px;
    font-size: 1rem;
}