// html {
//     /*Required to ensure footer stays at the bottom of viewport*/
//     position: relative;
//     min-height: 100%;
// }

body {
    min-width: $minWidth;
    max-width: 1990px;
    @extend %force-center;
    margin-top: 0;
}

section {
    margin-top: 20px;
}

.force-center {
    @extend %force-center;
}