@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
   font-family: 'Roboto', sans-serif;
}

h2 {
    @extend %force-center;
    font: {
        family: 'Ubunto Mono', monospace;
        size: 2.5rem;
    }
}