@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
   font-family: 'Roboto', sans-serif;
}

h2 {
    @extend %force-center;
    font: {
        family: 'Ubunto Mono', monospace;
        size: 2.5rem;
    }
}

.reveal-two {
    div {
        font-size: 2rem;
    }
}

footer {
    min-width: $min-width; //Prevent the footer being squashed down on smaller viewports
    // background-color: $green;
    width: 100%;
    max-width: 1990px; //Needs to match body to ensure alignment, especially on larger viewports
    position: absolute;
    // color: white;
    a {
        margin: 0 20px;
        // color: white;
    }
    a:hover {
        // color: white;
    }
    p {
        font-size: 0.75rem;
        margin-top: -10px;
    }
}