/* Media Queries 
--------------------*/
@mixin mq($mqWidth) {
    @media (min-width: $mqWidth) {
        @content
    }
}

/* Loading 
--------------------*/
@mixin loaderBorder($position, $top, $right, $bottom, $left) {
    border: {
        width: 3px;
        style: solid;
        color: transparent;
        top-color: black;
        radius: 50%;
    }
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    content: "";
}

/* Animations */
@mixin animation($animationName, $animationDuration) {
    -webkit-animation: $animationName $animationDuration linear infinite;
    animation: $animationName $animationDuration linear infinite;
}


@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }
    @keyframes #{$name} {
        @content
    }
}


// //CURRENTLY DOESN'T WORK
// @mixin keyframes($name) {
//     @-webkit-keyframes #{$name} {
//         0% {
//             @extend %rotate-keyframe-start;
//         }
//         100% {
//             @extend %rotate-keyframe-finish;
//         }
//     }
//     @keyframes #{$name} {
//         0% {
//             @extend %rotate-keyframe-start;
//         }
//         100% {
//             @extend %rotate-keyframe-finish;
//         }
//     }
// }






//CURRENTLY DOESN'T WORK
// @mixin keyframes($name, $deg) {
    // @-webkit-keyframes $name {
    //     0% {
    //         -webkit-transform: rotate($deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    //         -ms-transform: rotate($deg);  /* IE 9 */
    //         transform: rotate($deg);  /* Firefox 16+, IE 10+, Opera */
    //     }
    //     100% {
    //         -webkit-transform: rotate($deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    //         -ms-transform: rotate($deg);  /* IE 9 */
    //         transform: rotate($deg);  /* Firefox 16+, IE 10+, Opera */
    //     }
    // }
    // @keyframes $name {
    //     0%   {
    //         -webkit-transform: rotate($deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    //         -ms-transform: rotate($deg);  /* IE 9 */
    //         transform: rotate($deg);  /* Firefox 16+, IE 10+, Opera */
    //     }
    //     100% {
    //         -webkit-transform: rotate($deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    //         -ms-transform: rotate($deg);  /* IE 9 */
    //         transform: rotate($deg);  /* Firefox 16+, IE 10+, Opera */
    //     }
    // }
// }
