/* Media Queries 
--------------------*/
@mixin mq($mqWidth) {
    @media (min-width: $mqWidth) {
        @content
    }
}

/* Loading 
--------------------*/
@mixin loaderBorder($position, $top, $right, $bottom, $left) {
    border: {
        width: 3px;
        style: solid;
        color: transparent;
        top-color: black;
        radius: 50%;
    }
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    content: "";
}

/* Animations */
@mixin animation($animationName, $animationDuration) {
    -webkit-animation: $animationName $animationDuration linear infinite;
    animation: $animationName $animationDuration linear infinite;
}


@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }
    @keyframes #{$name} {
        @content
    }
}

@mixin transform($prop) {
    -webkit-transform: $prop; /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: $prop; /* IE 9 */
            transform: $prop; /* Firefox 16+, IE 10+, Opera */
}