/* Media Queries 
--------------------*/
@mixin mq($mqWidth) {
    @media (min-width: $mqWidth) {
        @content
    }
}

/* Loading 
--------------------*/
@mixin loaderBorder($position, $top, $right, $bottom, $left) {
    border: {
        width: 3px;
        style: solid;
        color: transparent;
        top-color: black;
        radius: 50%;
    }
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    content: "";
}

/* Animations */
@mixin animation($animationName, $animationDuration) {
    -webkit-animation: $animationName $animationDuration linear infinite;
    animation: $animationName $animationDuration linear infinite;
}

