/* Structural
--------------------*/
%force-center {
    margin: 10px auto;
    display: block;
}

%section-styles {
    background-color: white;
    margin-left: 1%;
    margin-top: $sectionSpacing;
    border-radius: .25rem;
}

/* Loading effect
--------------------*/
%loading-spin-border {
    border: {
        width: 3px;
        style: solid;
        color: transparent;
        top-color: black;
        radius: 50%;
    }
}

%loader-before-dimensions {
    $dimension: 5px;
    top: $dimension;
    right: $dimension;
    bottom: $dimension;
    left: $dimension;
}

%loader-after-dimensions {
    $dimension: 15px;
    top: $dimension;
    right: $dimension;
    bottom: $dimension;
    left: $dimension;
}