/* Colors */
$green: #0b9c00;
$pureWhite: #ffffff;
$pureBlack: #000000;
$bodyBackground: #eaeaea;
$backgroundGreen: #2a9445;
$loaderGreen: #9bcd64;

/* Background Image */
$bgImage: url("../images/color5.png");

/* Structure */
$minWidth: 920px;
$maxWidth: 1990px;

/* Loading */
$baseLoadZIndex: 1000;