/* Colors */
$green: #0b9c00;
$pureWhite: #ffffff;
$pureBlack : #000000;
$backgroundGreen: #2a9445;
$loaderGreen: #9bcd64;

/* Structure */
$minWidth: 758px;
$maxWidth: 1990px;

/* Loading */
$baseLoadZIndex: 1000;