/* Colors */
$green: #0b9c00;
$bodyBackground: #eaeaea;
$backgroundGreen: #2a9445;
$loaderGreen: #8bb85a;

/* Background Image */
$bgImage: url("../images/color5.png");

/* Structure */
$minWidth: 920px;
$maxWidth: 1990px;
$sectionSpacing: 10px;

/* Header */
$headerBreakpoint: 1300px;

/* Loading */
$baseLoadZIndex: 1000;