/* HELPFUL REMINDERS*/
/**/
/**/
/**/
/* using placeholders */
/* placeholders should be used for code that is intended for reuse */
/* in this example, each div will have the same background properties, but the image used on each div class is different */
/**/
/**/
/**/
/* select an element using its parent */
/**/
/**/
/**/
/* use shorthand to declare multiple properties at once */
/**/
/**/
/**/
/* import other stylesheets */
/**/
/**/
/**/
/*declare the name of the class as container */
/**/
/**/
/**/
/* use loops (/)
/* we want 4 .containers 1 through 4 */
/**/
/**/
/**/
/* use mixins */
/**/
/**/
/**/
/* use placeholders */
/**/
/**/
/**/
/* use of content keyword, useful for media queries */
/*content can also be used for nested selectors*/
/*SCSS:*/
/*CSS output:*/
/* Imports */
/* Colors */
/* Structure */
/* Loading */
/*Media Queries */
/* Structural */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
body, .force-center, h1, select, .popup, h2, img {
  margin: 15px auto;
  display: block; }

/* Loading effect */
#loader-wrapper #loader, #loader-wrapper #loader:before, #loader-wrapper #loader:after {
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: black;
  border-radius: 50%; }

body {
  min-width: 758px;
  max-width: 1990px;
  margin-top: 0; }

section {
  margin-top: 20px; }

/* Loading effect css courtesy of https://ihatetomatoes.net/create-css3-spinning-preloader/, adapted into scss */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #loader-wrapper #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1500;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }
    #loader-wrapper #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    #loader-wrapper #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite; }
  #loader-wrapper p {
    color: white;
    z-index: 2000;
    display: block;
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 2rem; }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #9bcd64;
    z-index: -1; }
  #loader-wrapper .loader-section.section-left {
    left: 0; }
  #loader-wrapper .loader-section.section-right {
    right: 0; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
/* Loaded */
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.1s 0.6s ease-out;
  transition: all 0.1s 0.6s ease-out; }
  .loaded #loader-wrapper #loader, .loaded #loader-wrapper p {
    opacity: 0;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.1s 0.1s ease-out;
    transition: all 0.1s 0.1s ease-out; }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.1s 0.1s ease-out;
    transition: all 0.1s 0.1s ease-out; }

/* No JS fallback */
.no-js #loader-wrapper {
  display: none; }

.no-js h1 {
  color: #222222; }

h1 {
  font-size: 1.5rem;
  color: white; }
  @media (min-width: 1110px) {
    h1 {
      font-size: 2.5rem; } }

.navbar {
  background-color: #2a9445;
  background-image: url("../images/color5.png");
  border-bottom: 2px solid black;
  flex-direction: column; }
  .navbar h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: white; }
    @media (min-width: 1110px) {
      .navbar h2 {
        font-size: 2rem; } }

#total-emissions-over-time .line {
  /*make stroke thicker than default*/
  stroke-width: 2.5px; }

#total-emissions-per-source-pie {
  width: 100%; }
  #total-emissions-per-source-pie svg .pie-slice-group {
    /*add a stroke to the pie slices*/
    stroke: black;
    stroke-width: 1px; }

select {
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

/* Popup container */
.popup {
  cursor: pointer;
  /* The actual popup (appears on top) */
  /* Popup arrow */
  /* Toggle this class when clicking on the popup container (hide the popup) */ }
  .popup .popuptext {
    font-size: 0.8rem;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 14px 0 8px;
    position: absolute;
    z-index: 1;
    bottom: 89%;
    left: 50%;
    margin-left: -80px; }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }
  .popup .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear; }

.fa-window-close {
  position: absolute;
  left: 141px;
  bottom: 43px;
  font-size: 1rem; }

body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-family: 'Ubunto Mono', monospace;
  font-size: 2.5rem; }

.reveal-two div {
  font-size: 2rem; }

footer {
  min-width: 758px;
  width: 100%;
  max-width: 1990px;
  position: absolute; }
  footer a {
    margin: 0 20px; }
  footer p {
    font-size: 0.75rem;
    margin-top: -10px; }

img {
  width: 620px;
  /*Different image widths based on viewport size*/ }
  @media (min-width: 768px) {
    img {
      width: 430px; } }
  @media (min-width: 1114px) {
    img {
      width: 660px; } }
  @media (min-width: 1266px) {
    img {
      width: initial; } }

.fa-div {
  font-size: 50px;
  margin: 0 auto; }
  .fa-div i {
    margin: 0 20px; }

/*# sourceMappingURL=style.css.map */
